<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/favicon.ico">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <header>
                <h1>
                    <a href="{{ path('homepage') }}">
                        Guestbook
                    </a>
                </h1>

                <ul>
                    {% for conference in conferences %}
                        <li>
                            <a href="{{ path('conference', { id: conference.id }) }}">{{ conference }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <hr />
            </header>

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
